[package]
name = "simple"
version = "0.1.0"
edition = "2024"

[dependencies]
bytes = "1.11.0"
http-body-util = "0.1.3"
hyper = "1.8.1"
tokio = { version = "1.49.0", features = ["full"] }
vetis = { version = "0.1.0", features = ["http3", "tokio-rt", "tokio-rust-tls"], default-features = false }
