name: Docker

permissions:
  contents: read
  
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Build the Docker image (Full)
      run: |
        cd vetis
        docker build . --file Dockerfile --tag vetis:$(date +%s)
