name: Build Docker Image (PHP)

permissions:
  contents: read
  
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "**" ]
    # paths-ignore:
    #   - ".github/workflows/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Build the Docker image (PHP)
      run: |
        cd vetis
        docker build . --file Dockerfile.php --tag vetis-php:$(date +%s)