name: Rust

permissions:
  contents: read
  
on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.1'

    - name: Setup PHP
      run: |
          curl -fsSL -o spc https://dl.static-php.dev/static-php-cli/spc-bin/nightly/spc-linux-x86_64
          chmod +x spc
          ./spc doctor --auto-fix
          ./spc download php-src --with-php=8.3 --for-extensions="phar,posix,readline"
          ./spc build phar,posix,readline --build-embed

    - uses: Swatinem/rust-cache@v2

    - name: Run vetis tests
      run: |
        export RIPHT_PHP_SAPI_PREFIX="${{github.workspace}}/buildroot"
        cd vetis

        cargo test --features "http1 tokio-rt tokio-rust-tls static-files reverse-proxy auth interface" --no-default-features
        cargo test --features "http2 tokio-rt tokio-rust-tls static-files reverse-proxy auth interface" --no-default-features
        cargo test --features "http3 tokio-rt tokio-rust-tls static-files reverse-proxy auth interface" --no-default-features

        cargo test --features "http1 smol-rt smol-rust-tls static-files reverse-proxy auth interface" --no-default-features
        cargo test --features "http2 smol-rt smol-rust-tls static-files reverse-proxy auth interface" --no-default-features
        cargo test --features "http3 smol-rt smol-rust-tls static-files reverse-proxy auth interface" --no-default-features

        cd ..

    - name: Run vetis-macros tests
      run: |
        cd vetis-macros

        cargo test

        cd ..