name: Rust

permissions:
  contents: read
  
on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: Swatinem/rust-cache@v2

    - name: Run tests
      run: |
        cargo test --features "http1 tokio-rt tokio-rust-tls static-files reverse-proxy auth" --no-default-features
        cargo test --features "http2 tokio-rt tokio-rust-tls static-files reverse-proxy auth" --no-default-features
        cargo test --features "http3 tokio-rt tokio-rust-tls static-files reverse-proxy auth" --no-default-features

        cargo test --features "http1 smol-rt smol-rust-tls static-files reverse-proxy auth" --no-default-features
        cargo test --features "http2 smol-rt smol-rust-tls static-files reverse-proxy auth" --no-default-features
        cargo test --features "http3 smol-rt smol-rust-tls static-files reverse-proxy auth" --no-default-features